.loginbutton:hover {
    -fx-background-color: linear-gradient(to right, #0073e6, #0099cc);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0.0, 0, 3);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.action-button:hover {
    -fx-background-color: linear-gradient(to right, #0073e6, #0099cc);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0.0, 0, 3);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}



